.TextSection {
	overflow: hidden;
	display: -ms-flexbox;      // TWEENER - IE 10
  display: -webkit-flex;     // NEW - Chrome
  display: flex;             // NEW, Spec - Opera 12.1, Firefox 20
	flex-direction: column;
	width: 50vw;
	padding-top: 10vh;
}

.Title {
	padding: 3vh 0;

	h1 {
		display: inline-block;
		border: 4px solid;
		padding: 4px;
	}
}

.Content {
	//color: white;
}


.WithDate {
	display: -ms-flexbox;      // TWEENER - IE 10
  display: -webkit-flex;     // NEW - Chrome
  display: flex;             // NEW, Spec - Opera 12.1, Firefox 20
	flex-direction: row;
	align-items: baseline;

	h2 {
		padding-right: 1vw;
	}
}

.FadeInSection {
  
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 300ms ease-out, transform 400ms ease-out;
  will-change: opacity, visibility;
}

.isVisible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}

.ExperienceEntry {
	padding: 5vh 0;
}